<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <div class="top-bar foundation-5-top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
        <li>
          <a href="#">Zombies</a>
          <ul class="menu">
            <li><a href="http://localhost:3000/zombies/new">New Zombie</a></li>
            <li><a href="http://localhost:3000/zombies/show">Show Zombies</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
        <% if user_signed_in? %>
        <strong>Bienvenido(a) <%= current_user.email%></strong>
        <strong><%= link_to "cerrar sesión", destroy_user_session_path, method: :delete%></strong>
        <strong><%= link_to "editar perfil", edit_user_registration_path%></strong>
        <% else %>
        <strong><%= link_to "login", new_user_session_path%></strong>
        <strong><%= link_to "registro",new_user_registration_path %></strong>
        <% end %>
    </div>
  </div>
</div>
      <% if notice %>
        <p class="alert alert-success"><%=notice %></p><%
            end%>
      <% if alert %>
      <p class="alert alert-danger"><%=alert %></p><%
            end%>
      
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
